<div class="card">
  <h5 class="card-header">Employee List</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Point</th>
          <th>Side</th>
          <th>Employee Name</th>
          <th>Price</th>
          <th>Reading Start</th>
          <th>Reading End</th>
          <th>Total Fuel</th>
          <th>Total Collection</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        @for (item of transactionList; track $index) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.point }}</td>
          <td>{{ item.side == 1 ? "Front" : "Back" }}</td>
          <td>{{ item.employeeID }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.readingStart }}</td>
          <td>{{ item.readingEnd }}</td>
          <td>{{ item.readingEnd - item.readingStart }}</td>
          <td>{{ item.price * (item.readingEnd - item.readingStart) }}</td>
          <td>{{ item.date }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
